<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="css/index.css" rel="stylesheet" >
  </head>
  <body>
    <div class="demo-content">
        <h1>Speech Demo</h1>
        <div class="record-controls">
            <button id="record-test">Record</button>
            <button id="stop-test">Stop</button>
        </div>
        <div id="audio-box">
        </div>
    </div>

    <script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js"> </script>
    <script type="text/javascript" src="js/test-bundle.js"></script>
  </body>
</html>